name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]


jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: 3.6.2

      - name: Install dependencies
        run: dart pub get

      - name: Analyze
        run: dart analyze .

      - name: Run tests
        run: dart test

        
